*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2vh 2vw;
    background-image: linear-gradient(90deg, hsl(54, 77%, 75%), hsl(0, 0%, 100%), hsl(54, 77%, 75%));
}

#main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#preview {
    width: 70% !important;
    border: 0.3vw solid rgb(252, 209, 154);
}

.markdown-body {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 5px;
}

.markdown-body a {
    color: #1e90ff;
    /* Color de los enlaces */
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    color: white;
}

/* .markdown-body code,
.markdown-body pre {
    background-color: #333;
    color: #f8f8f2;
} */

